<!--
<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me, :class => "remember-me" %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %> -->


<div class="container2">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => "form-signin") do |f| %>
        <h3 class="form-signin-heading">Please Login</h3>
          <hr>
        <div><%= f.email_field :email, autofocus: true, placeholder: "Email address", :class => "form-control" %></div>
        <!-- <input type="text" class="form-control" placeholder="Email address" required autofocus> -->

        <!-- <input type="password" class="form-control" placeholder="Password" required> -->
	    <div><%= f.password_field :password, autocomplete: "off", :class => "form-control", placeholder: "Password" %></div>
        <!-- label class="checkbox">
          <input type="checkbox" value="remember-me">Remember me
        </label> -->
        <% if devise_mapping.rememberable? -%>
    		<div><%= f.check_box :remember_me, :class => "remember-me" %> <%= f.label :remember_me %></div>
  		<% end -%>
  		<div><%= f.submit "Sign in", :class => "btn btn-lg btn-primary btn-block" %></div>
  		<%= render "devise/shared/links" %>
        <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button> -->
        <!-- <span class = "pull-right"><a href = "#">Register</a></span>
          <span><a href="#">Forget your Password?</a></span> -->
      <% end %>

</div>