<h1>Listing barters</h1>

<table>
  <thead>
    <tr>
      <th>Seller</th>
      <th>Selling</th>
      <th>Buyer</th>
      <th>Offer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @barters.each do |barter| %>
      <tr>
        <td><%= barter.seller %></td>
        <td><%= barter.selling %></td>
        <td><%= barter.buyer %></td>
        <td><%= barter.offer %></td>
        <td><%= link_to 'Show', barter %></td>
        <td><%= link_to 'Edit', edit_barter_path(barter) %></td>
        <td><%= link_to 'Destroy', barter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barter', new_barter_path %>
