<p id="notice"><%= notice %></p>

<p>
  <strong>Seller:</strong>
  <%= @barter.seller %>
</p>

<p>
  <strong>Selling:</strong>
  <%= @barter.selling %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @barter.buyer %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @barter.offer %>
</p>

<%= link_to 'Edit', edit_barter_path(@barter) %> |
<%= link_to 'Back', barters_path %>
