<%= form_for(@swap) do |f| %>
  <% if @swap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@swap.errors.count, "error") %> prohibited this swap from being saved:</h2>

      <ul>
      <% @swap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :bidder_id, value: current_user.id %>
  <%= f.hidden_field :state, value: "Open" %>
  <div class="field">
    <%= f.label :auction_id %><br>
    <%= f.number_field :auction_id %>
  </div>
  <div class="field">
    <%= f.label :offer_id %><br>
    <%= f.number_field :offer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
