<h1>Listing swaps</h1>

<table>
  <thead>
    <tr>
      <th>Aution</th>
      <th>Offer</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @swaps.each do |swap| %>
      <tr>
        <td><%= swap.aution_id %></td>
        <td><%= swap.offer_id %></td>
        <td><%= swap.state %></td>
        <td><%= link_to 'Show', swap %></td>
        <td><%= link_to 'Edit', edit_swap_path(swap) %></td>
        <td><%= link_to 'Destroy', swap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Swap', new_swap_path %>
