<h1>Listing auctions</h1>

<table>
  <thead>
    <tr>
      <th>Auction name</th>
      <th>Auction description</th>
      <th>User</th>
      <th>Available</th>
      <th>Picture<th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @auctions.each do |auction| %>
      <tr>
        <td><%= auction.auction_name %></td>
        <td><%= auction.auction_description %></td>
        <td><%= auction.user_id %></td>
        <td><%= auction.available %></td>
        <td><%= image_tag(auction.image_url) %></td>
        <td><%= link_to 'Show', auction %></td>
        <td><%= link_to 'Edit', edit_auction_path(auction) %></td>
        <td><%= link_to 'Destroy', auction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auction', new_auction_path %>
